#side-bar { 

    /* width : 20%;
    height : 51%; */

    margin: 5px;
    padding: 5px;
    position: absolute;
    top  : 10px;
    right : 10px ; 
    font-size: 12px;

    background: rgba(247, 239, 239, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    
    z-index: 10;
}

#side-bar button {
    width: 100%;
    padding: 4px;
    margin: 2px;
    
}

#cy {
    background: #1F1F1F;
    width: 100%;
    height: 100%;
    position: absolute; 
    bottom: 0px;
    left: 0px;
}

/* XY Axis Container */
#xy-axis {
 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50; 
    pointer-events: none;  
}

.sidebar-sub-container { 
    margin : 5px; 
    padding : 5px;
    border: 2px white solid;
    
}

.sidebar-sub-container-1 { 
    display: grid;
    grid-template-columns: max-content 1fr; 
    gap: 10px;  
    max-width: 400px;  
    margin : 5px; 
    padding : 5px;
    border: 2px white solid;
}

.node-modal { 
    display: none; 
    position: absolute; 
    background: white; 
    border-radius: 10px;
    border: 1px solid black; 
    margin: 5px;
    padding: 10px;
    z-index: 100;
}


.form-group {
    display: contents; /* Allows label and input to behave as individual grid items */
}

.form-group label {
    justify-self: start;
    margin-right: 10px; /* Optional: spacing between label and input */
}

.form-group input {
    justify-self: stretch; /* Make the input take up available space */
    max-width: 250px; /* Limit the input field width */
    padding: 2px; /* Add padding for better appearance */
    box-sizing: border-box; /* Ensures padding doesn't exceed max width */
}
 